# dependencies
node_modules
.pnpm-debug.log*

# next.js
.next/
out/

# nest.js
dist/

# prisma
/packages/database/src/generated

# production
build/

# misc
.DS_Store
*.pem

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# turbo
.turbo

# Playwright
playwright-report/
test-results/

# Logs
error_log*.txt

# TypeScript build cache
*.tsbuildinfo
